<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rmeijer.trainman">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        android:maxSdkVersion="18" />

    <!-- android:roundIcon="@mipmap/ic_launcher_round" -->

    <application
        android:allowBackup="true"
        android:icon="@drawable/trainmanimage6"
        android:label="@string/app_name"
        android:roundIcon="@drawable/trainmanimage6"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuActivity" />
        <activity android:name=".CustomerListActivity" />

        <!-- 13.11 - Go back to the list when UP Button pressed [Not working - goes to menu] -->
        <activity
            android:name=".ViewCustomerActivity"
            android:parentActivityName=".CustomerListActivity"
            />

        <activity android:name=".EnterCustomerActivity" />
        <activity android:name=".CustomerMainActivity" />
        <activity android:name=".PictureActivity" />
        <activity android:name=".EnterSessionActivity" />
        <activity android:name=".ViewSessionActivity" />
        <activity android:name=".SignActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".ReceiptActivity" />

        <!-- 13.11 - Turning on the Up button [parentActivityName] -->
        <activity
            android:name=".CustomerPagerActivity"
            android:parentActivityName=".CustomerListActivity"
            />
    </application>

</manifest>